html, body {
    font-family: Noto Sans;
}

div.calendar {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 0em auto;
}

div.calendar div.column {
    flex: 1 1 auto;

    border: solid 3px #cfcfcf;
    padding: 1em;

    text-align: center;
    max-width: 18em;

    background: #e3e3e3;

    margin: 0.5em auto;
}

div.column div.header {
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: bold;
}

div.notice {
    color: gray;
}

div.show {
    text-align: center;
    padding: 1em 0.5em 1em 0.5em;
    background: #fff;

    max-width: 15em;
    margin: 1em auto;
}

div.show img {
    width: 14em;
}

div.show div {
    text-align: left;
}

div.show div.title {
    font-weight: bold;
}

div.show div.date {
    color: gray;
}

















